@import "variables";

// Подключение базовых настроек
@import "settings";

//Подключение normalize.css
@import "normalize";

// Подключение хедера
@import "blocks/header.scss";

// Подключение хлебных крошек
@import "blocks/breadcrumb";

// Стили блока Отель
@import "blocks/hotel";

// Подключение стилей для адаптива
@import "media";